@import url(https://fonts.googleapis.com/css?family=Dr+Sugiyama);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
  position: relative;
}

/****** NAVBAR ******/
.navbar {
  border-radius: 0px;
  background-color:#2B2B2B;
  border: 0;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-brand {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 2.2em;
  position: relative;
  top: 3px;
  color: #fff;
  transition: color 0.5s ease, transform 0.5s ease;
}

.nav-item:hover{
    background-color:#545B62;
}

.navbar-inverse .navbar-brand:hover {
  color: white;
  transform: scale(1.2);
}

.flag{
    width:40px;
    height:25px;
    margin:5px;
}


/*.navbar-inverse .navbar-nav>li>a {
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: black;
  background-color: white;
}
*/

.navbar-inverse .navbar-toggle {
  border-color: white;
  transition: background-color 0.5s ease;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #A83200;
}

.navbar-inverse .navbar-collapse {
  border-color: rgba(0, 0, 0, 0.2);
}

/*** HEADER ***/

header {
  width: 100%;
  padding: 155px 30px;
  background-color: #333;
  background-image: linear-gradient(rgba(0, 51, 51, 0.5), rgba(0, 51, 51, 0.3)), url('http://elluchador.info/web/wp-content/uploads/2018/06/029e32_canaima0001.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

header h1 {
  font-weight: bold;
  font-family: serif;
  font-size: 3em;
  font-family: 'Bitter', serif;
}

header p {
  font-size: 1.5em;
}

/***** ABOUT **********/

#about {
  padding: 15px 0px;
  width: 75%;
  font-family: 'Merriweather', serif;
  text-align: center;
}

#about h2 {
  font-size: 2.8em;
}

#about p {
  font-size: 1.2em;
  color: #393939;
  margin-top: 25px;
}

.intro {
  font-variant: small-caps;
  font-size: 1.3em;
}

/**********PORTFOLIO ***************/

#portfolio {
  margin-top: 30px;
  padding: 15px 0px 40px;
  background-image: url('http://echeung.me/images/squairy_light.png');
  font-family: 'Merriweather', serif;
  text-align: center;
}

#portfolio .container-fluid {
  width: 80%;
}

#portfolio .col-sm-4,
#portfolio .col-xs-6 {
  margin: 15px 0px;
}

#portfolio h2 {
  font-size: 2.8em;
}

img {
    width: 100%;
    height:200px;
    border: 1px solid #2B2B2B;
    border-bottom: 0px;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

figcaption {
  background-color: white;
  margin: auto;
  color: #2B2B2B;
  border: 1px solid #2B2B2B;
  border-top: 0px;
  transition: background-color 0.5s ease, color 0.5s ease;
  
}

figcaption:hover {
  background-color: #2B2B2B;
  color: white;
}

.image-container {
    position: relative;
}


.image-container .after {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.text{
    margin-top:50px;
}


.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

/********* FOOTER **********/

.footer {
  text-align: center;
  background-color: #2B2B2B;
  color: white;
  padding: 30px 0px;
}

h2, h3 {
  font-family: 'Merriweather', serif;
}

.email {
    position:relative;
    margin:auto;
    text-align: center;
}
